#leadpress-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leadpress-modal-loader {
    position: absolute;
}

#adminmenu .wp-menu-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
#adminmenu .wp-menu-image img {
    padding: 0;
}
.leadpress_page_leadpress-email-logs #wpcontent,
.leadpress_page_leadpress-leads #wpcontent {
    padding-right: 20px;
}
.leadpress_page_leadpress-leads #wpcontent .wp-list-table input:read-only {
    border: none;
    background: none;
    padding: 0;
    line-height: unset;
    min-height: unset;
    color: inherit;
}
.leadpress-mail-status {
    font-size: 1em;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 4px;
    text-transform: capitalize;
}
.leadpress-mail-status.success {
    background-color: #008000;
    color: #ffffff;
    border-color: #008000;
}
.leadpress-mail-status.failed {
    background-color: #ff0000;
    color: #ffffff;
    border-color: #ff0000;
}
.leadpress-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leadpress-export {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
}
.leadpress-export .leadpress-export-options-wrap {
    width: 400px;
}
.leadpress-export .leadpress-export-options-wrap .leadpress-export-options {
    width: 100%;
}

/* not found */
#leadpress-not-found {
    width: 100%;
    height: 100%;
}
#leadpress-not-found .empty-state {
    width: 750px;
    margin: 40px auto;
    background: #fff;
    box-shadow: 1px 2px 10px #e1e3ec;
    border-radius: 4px;
}
#leadpress-not-found .empty-state__content {
    padding: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#leadpress-not-found .empty-state__content .empty-state__icon {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 200px;
    justify-content: center;
    background-color: #f7fafc;
    box-shadow: 0px 2px 1px #e1e3ec;
}
#leadpress-not-found .empty-state__content .empty-state__icon img {
    width: 170px;
}
#leadpress-not-found .empty-state__content .empty-state__message {
    color: #38a169;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.85rem;
}
