#leadpress-modal {
    position: fixed;
    background: #c8c8c859;
    top: 0;
    border: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leadpress-modal-loader {
    position: absolute;
}

.leadpress-optin-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.leadpress-optin-message p {
    margin: 0;
    padding: 0;
}
.leadpress-optin-message .leadpress-optin-message-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}
.leadpress-optin-message .leadpress-optin-message-icon img {
    width: 100%;
    height: auto;
}
.leadpress-optin-message.hide {
    display: none;
}
